$mild-blue = #4A90E2;
$normal-text = rgba(0,0,0,0.6);
$emphasis-text = rgba(0,0,0,0.9);
$background-color = #fff;
$green-text = #70824e;

body {
  background-color: $background-color;
  color: $normal-text;
  font-family: helvetica, sans-serif;
}

a {
  color: $mild-blue;
}

p {
  line-height: 1.5;
}

.global-wrapper {
  margin: 0 auto;
  padding: 0 0 40px;
  width: 1024px;
}

.primary-header {
  display: flex;
  font-size: 14px;
  justify-content: space-between;

  h1 {
    font-size: 20px;
    font-weight: 200;
  }
  aside {
    align-self: center;
  }
}

.studies-list {
  list-style: none;
  margin: 35px 0 0;
  padding: 0;
}

.study-list-item {
  margin-bottom: 35px;

  p {
    font-size: 14px;
  }
}

.study-list-heading {
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 10px;
}

.button {
  background-image: linear-gradient(-180deg, #BAD582 0%, #93AC67 100%);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.08), 0 4px 10px 0 rgba(0,0,0,0.10), inset 0 1px 0 1px rgba(255,255,255,0.25), inset 0 -2px 0 1px rgba(0,0,0,0.25);
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  text-shadow: 0 -1px 0 #4F7311;
  cursor: pointer;
}

.sign-in-content {
  padding: 55px 0;
  text-align: center;

  h1 {
    font-size: 20px;
    font-weight: 200;
  }
}

.signed-in-wrapper {
  display: flex;

  h3 {
    align-self: center;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
  }
  .button-sign-out {
    margin: 0 0 0 20px;
  }
}

.study-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.release-channel-title {
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 10px;
}

.study-wrapper {
  header {
    display: flex;
    justify-content: space-between;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &.show-percentage .study-results-row b {
    &.count {
      display: none;
    }
    &.percent {
      display: inline;
    }
  }
}

.study-results-row {
  display: flex;
  justify-content: space-between;
  line-height: 25px;

  > * {
    font-size: 12px;
    font-weight: 400;
    color: $emphasis-text;
    margin: 0;
    text-align: center;
    width: 11%;

    &:first-child {
      color: $normal-text;
      padding-left: 10px;
      text-align: left;
      width: 12%;
    }
  }
  &:nth-child(odd):not(.study-titles):not(.study-channel-totals-row) {
    background-color: #ecf1f7;
  }
  &.study-titles > *:not(.study-field-faded) {
    color: $normal-text;
  }
  b {
    font-weight: 400;

    &.percent {
      color: $green-text;
      display: none;
    }
  }
}

.study-channel-totals-row {
  border-top: 2px solid rgba(0,0,0,0.1);
}

.study-field-faded,
.study-field-faded .percent {
  // Faded fields should always be this grayscale even if their
  // class specific color (eg percents are green) is more specific.
  color: rgba(0,0,0,0.4) !important;
}

.component-error-message {
  font-size: 20px;
  margin: 40px 0;

  dt {
    font-weight: 200;
  }
  dd {
    font-weight: 200;
    margin: 30px 0 0;
    text-align: center;
  }
}

.loading {
  display: none;
}

// From https://codepen.io/ashmind/pen/zqaqpB
.fetching {
  background-color: $background-color;
  min-height: 100px;
  position: relative;

  > * {
    display: none;
  }
  .loading {
    display: block;
    font-family: consolas, menlo, monaco, monospace;
    font-size: 60px;
    font-weight: bold;
    height: 100%;
    left: 50%;
    margin: -30px 0 0 -20px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    width: 100%;

    span {
      display: inline-block;
      animation: pulse 0.4s alternate infinite ease-in-out;

      &:nth-child(odd) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.switch-wrapper {
  align-self: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  line-height: 20px;

  .switch {
    background: rgba(0,0,0,0.50);
    border-radius: 30px;
    box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.20);
    cursor: pointer;
    height: 20px;
    margin: 0 7px;
    position: relative;
    width: 40px;

    &.active {
      background-image: linear-gradient(-179deg, #B8D380 0%, #93AC67 100%);
      box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.36);

      .handle {
        left: 20px;
      }
    }
  }
  .handle {
    background-image: linear-gradient(-180deg, #FAFAFA 0%, #EFF1F4 100%);
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.10), inset 0 1px 0 1px #fff;
    height: 18px;
    left: 0;
    position: absolute;
    transition: left 0.2s ease;
    width: 18px;
  }
}
